* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: 0 auto;
  height: 100%;
  width: 1140px;
}

/* Sections common parameters */
section {
  position: relative;
  padding: 130px;
}

section .box {
  margin-bottom: 30px;
  padding: 45px;
  width: calc(100% / 3 - 20px);
  font-size: 1rem;
  border-radius: 8px;
}

section .box:not(:nth-child(3n+0)) {
  margin-right: 30px;
}

section .box .img-border {
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.box img {
  height: 32px;
}

.box .img-border img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Buttons */
.btn {
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  border: 1px solid #058283;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.6s;
}

.btn-1 {
  background-color: #058283
}

.btn:hover {
  background-color: #00A6A6;
  border: 1px solid #00A6A6;
}

/* Text */
h1 {
  font-weight: 900;
  font-size: 4.5rem;
  font-family: 'Poppins', sans-serif;
}

h1 span {
  padding: 0 10px;
  font-family: inherit;
  background-color: rgba(5, 130, 131, 0.2);
}

h2 {
  margin: 24px 0;
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
}

h3 {
  margin: 20px 0;
  font-size: 1.5rem;
}

p {
  line-height: 1.6;
  font-size: 1rem;
  color: #606D75;
}

small {
  font-weight: bold;
  text-transform: uppercase;
}

ul {
  list-style: none;
  color: #606D75;
  text-align: left;
}

/* Colors */
.t-white {
  color: white;
}
.b-white {
  background-color: white;
}

.t-grey {
  color: #c0c3d0;
}
.b-lgrey {
  background-color: #EEF4ED;
}
.b-dgrey {
  background-color: #19191F;
}

.t-blue {
  color: #21333E;
}
.b-dblue {
  background-color: #111117;
}
.b-blue {
  background-color: #21333E;
}

.t-green {
  color: #00A6A6;
}
.t-dgreen {
  color: #058283;
}

.b-lgreen {
  background-color: #DAECED;
}
.b-green {
  background-color: #00A6A6;
}
.b-dgreen {
  background-color: #058283;
}

/* HEADER */
header .container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
}

header span:hover, header i:hover {
  color: #00A6A6;
  cursor: pointer;
}

header i {
  margin-right: 4px;
}

header .header-right i {
  margin-left: 30px;
}

header .header-right>i:last-child {
  margin-right: 0;
}


/* JUMBO */
main .jumbotron {
  position: relative;
  height: calc(100vh - 50px);
  background-image: url(../img/hero-image.png);
  background-size: cover;
  background-position: bottom;
}

.jumbotron .layover {
  height: 100%;
  background-color: rgb(0, 0, 10);
  opacity: 0.7;
}

.jumbotron .jumbo-center {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.jumbotron .jumbo-center p {
  margin: 20px auto 60px;
  max-width: 800px;
  line-height: 1.6;
  font-size: 1.2rem;
  color: #c0c3d0;
  text-shadow: 2px 2px 8px black;
}

.jumbotron .jumbo-center .btn {
  margin: 0 8px;
}

/* FEATURES */
#features .container {
  display: flex;
  justify-content: space-between;
}

/* ABOUT */
#about::before {
  z-index: 1;
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 60px;
  background-image: url(../img/bullets.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.25;
}

#about::after {
  z-index: 1;
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 60px;
  background-image: url(../img/bullets.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.25;
}

#about .container h2 span {
  font-family: inherit;
  padding: 0 10px;
  background-color: #DAECED;
}

#about .container>p{
  max-width: 50%;
}

#about .container .infos {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

#about .container .infos div {
  margin-top: 40px;
  width: 50%;
}

#about .container .infos img {
  margin-right: 5px;
  vertical-align: middle;
  width: 24px;
}

#about .container .infos h3 {
  vertical-align: middle;
  display: inline-block;
}

#about>img {
  width: 50vw;
  position: absolute;
  top: 0;
  right: 0;
}

/* SERVICES */
#services .container h2 span {
  font-family: inherit;
  padding: 0 10px;
  background-color: #0E272D;
}

#services .container .middle {
  position: relative;
  display: flex;
  justify-content: space-between;
}

#services .container .middle>p {
  max-width: 80%;
}

#services .container .middle .btn {
  position: absolute;
  right: 0;
}

#services .container .bottom {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#services .container .bottom img {
  height: 44px;
}

#services .container .bottom p {
  margin-bottom: 40px;
}

#services .container .bottom .btn {
  display: inline-block;
}

/* PRICING */
#pricing .container {
  text-align: center;
}

#pricing .container h2 span {
  font-family: inherit;
  padding: 0 10px;
  background-color: #DAECED;
}

#pricing .container p {
  margin: 20px auto;
  max-width: 70%;
}

#pricing .container .middle {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

#pricing .container .middle img {
  height: 44px;
}

#pricing .container .middle .box {
  position: relative;
}

#pricing .container .middle .box>i {
  position: absolute;
  top: 30px;
  right: 30px;
  display: none;
  font-size: 20px;
  font-weight: bold;
  color: #058283;
  cursor: pointer;
}

#pricing .container .middle .box:hover>i {
  display: block;
}

#pricing .container .box h3.t-dgreen {
  font-weight: normal;
}

#pricing .container .box h3.t-dgreen span {
  font-weight: bold;
  font-size: 2.625rem
}

#pricing .container .box ul li {
  padding: 10px;
}

#pricing .container .box ul li i {
  float: right;
}
