<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&family=Poppins:wght@400;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <!-- Header -->
  <header class="b-blue t-grey">
    <div class="container">

      <div class="header-left">
        <span>
          <i class="fas fa-clock mr-2"></i>
          Open Hours: Mon - Sat - 9:00 - 18:00
        </span>
      </div>

      <div class="header-right">
        <span>
          <i class="fas fa-phone-alt mr-2"></i>
          +1 (305) 1234-5678
        </span>
        <span>
          <i class="fas fa-envelope mr-2"></i>
          hello@example.com
        </span>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin-in"></i>
      </div>

    </div>
  </header>

  <!-- Main -->
  <main id="root">

    <!-- Jumbotron -->
    <div class="jumbotron t-white">
      <div class="layover"></div>

      <nav :class="(scrollPosition > 50) ? 'transition-bg' : ''" class="nav">
        <div class="container">
          <div class="logo">
            <span class="t-grey"><span class="t-green">N e x </span>G e n</span>
          </div>

          <div class="nav-menu t-white">
            <span>Home</span>
            <span>About</span>
            <span>Services</span>
            <span>Pricing</span>
            <span>Blog</span>
            <span class="btn btn-1">Get in touch</span>
          </div>
        </div>
      </nav>

      <div class="container">
        <div class="jumbo-top"></div>
        <div class="jumbo-center">
          <h1>Lead ~ <span>Customer</span></h1>
          <p>Successful strategies require data analysis, creativity and customer focus, taking advantage of the latest technologies to offer excellent services.</p>
          <span class="btn btn-1">get in touch</span>
          <span class="btn btn-2">read more</span>
        </div>
      </div>
    </div>

    <!-- Section 1 -->
    <section id="features" class="b-lgrey">
      <div class="container">
        <div v-for="e in features" class="box b-white">
          <div class="img-border b-lgreen">
            <img :src="imgPath + e.img + e.imgExt" alt="e.img">
          </div>
          <h3 class="t-blue"> {{e.title}} </h3>
          <p> {{e.p}} </p>
        </div>
      </div>
    </section>

    <!-- Section 2 -->
    <section id="about">
      <div class="container">
        <small class="t-green">About the network</small>
        <h2 class="t-blue"><span class="t-dgreen">The</span> Company</h2>
        <p>For 12 years we have been providing audit and warranty, financial advice, risk advice, taxes and related services to select clients.</p>

        <div class="infos">
          <div v-for="e in about">
            <img :src="imgPath + e.img + e.imgExt" :alt="e.img">
            <h3 class="t-blue"> {{e.title}} </h3>
            <p> {{e.p}} </p>
          </div>
        </div>

      </div>
      <img src="img/about-3.jpg" alt="about">
    </section>

    <!-- Section 3 -->
    <section id="services" class="b-dblue">
      <div class="container">
        <small class="t-green">Our business areas</small>
        <h2 class="t-white">Excellence in <span>Services</span></h2>

        <div class="middle">
          <p class="t-grey">We are leaders in providing consultancy services with a set of cutting-edge technologies and a team of experienced and renowned professionals. These are some options that you can hire.</p>
          <span class="btn btn-2">see all</span>
        </div>

        <div class="bottom">
          <div v-for="e in services" class="box b-dgrey">
            <img :src="imgPath + e.img + e.imgExt" alt="e.img">
            <h3 class="t-white"> {{e.title}} </h3>
            <p class="t-grey"> {{e.p}} </p>
            <span class="btn btn-2">read more</span>
          </div>
        </div>
      </div>
    </section>

    <!-- Section 4 -->
    <section id="pricing" class="b-lgrey">
      <div class="container">
        <small class="t-green">monthly plans</small>
        <h2 class="t-blue"><span class="t-dgreen">Pricing</span> Table</h2>
        <p>We can help you deliver and execute your future, wherever you compete, using the latest technologies, from strategy development to implementation.</p>

        <div class="middle">
          <div v-for="e in pricing" class="box b-white">
            <i class="fas fa-arrow-right"></i>
            <img :src="imgPath + e.img + e.imgExt" alt="e.img">
            <h3 class="t-blue"> {{e.title}} </h3>
            <h3 class="t-dgreen">$ <span>{{e.price}}</span> / mo</h3>
            <ul>
              <li v-for="e in e.li"> {{e.feature}}
                <i v-if="e.included" class="fas fa-check t-dgreen"></i>
                <i v-if="!e.included" class="fas fa-times t-dgreen"></i>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section>

    <!-- Section 5 -->
    <section></section>
    <!-- Section 6 -->
    <section></section>
    <!-- Section 7 -->
    <section></section>
    <!-- Section 8 -->
    <section></section>

  </main>

  <!-- Footer -->
  <footer>

  </footer>

  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
